<!--
  Recuerde conservar los id, no deben ser modificados
  ids = user-list__filter, user-list__table, user-list__table-item-[index], user-list__table-item-[index]-avatar, user-list__table-item-[index]-first_name, user-list__table-item-[index]-email, user-list__table-item-[index]-btn-delete
  Remplazar [index] por el valor ejemplo "user-list__table-item-0"
-->
<app-nav-bar></app-nav-bar>
<div class="pl-10 pr-10">
  <div class="layout-row align-items-center justify-content-center mt-20">
    <input class="white large outlined mr-30" type="text" placeholder="Search user by name" name="user_list_filter"
      id="user-list__filter" [(ngModel)]="user_list_filter" (keypress)="numberOnly($event)">
    <div *ngIf="totalPages > 1">
      <button class="pagerButton" (click)="GoPage(1)"> << </button>
      <button class="pagerButton" *ngFor="let item of totalPagesArray, let i = index" (click)="GoPage(i+1)"> {{i+1}}
      </button>
      <button class="pagerButton" (click)="GoPage(totalPages)"> >> </button>
    </div>
  </div>
  <div class="card w-auto mx-auto pb-30 mt-20">
    <table id="user-list__table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Avatar</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList | filterUserByName: user_list_filter" id="{{'user-list__table-item' + i}}">
          <td id="{{'user-list__table-item-'+ i + '-first_name'}}">{{user.first_name}} </td>
          <td id="{{'user-list__table-item-'+ i + '-last_name'}}">{{user.last_name}}</td>
          <td id="{{'user-list__table-item-'+ i + '-email'}}">{{user.email}}</td>
          <td id="{{'user-list__table-item-'+ i + '-avatar'}}"><img src="{{user.avatar}}" alt=""></td>
          <td><button class="danger" (click)="onDelete(user.first_name, user.last_name, i)"
              id="{{'user-list__table-item-'+ i + '-btn-delete'}}">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="layout-row align-items-center justify-content-center mt-20" *ngIf="totalPages > 1">
      <button class="pagerButton"(click)="GoPage(1)"> << </button>
      <button class="pagerButton" *ngFor="let item of totalPagesArray, let i = index" (click)="GoPage(i+1)"> {{i+1}} </button>
      <button class="pagerButton" (click)="GoPage(totalPages)"> >> </button>
  </div>

    <form id="pagerForm" [formGroup]="pagerForm" class="layout-row align-items-center justify-content-center mt-20">
      <label for="items per page">Items per page </label>
        <input class="white large outlined w-3 ml-10" type="text" placeholder="#" name="perPage" id="perPage" formControlName="perPage">
        <button (click)="setItemsPerPage()"> GO</button>
      </form>

</div>