<!--
  Recuerde conservar los id, no deben ser modificados
  ids = login__email, login__password, login__password-error, login__email-error, login__btn-login
-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/h8k-design@latest/dist/index.css">

<div class="card mt-20 ml-20 mr-20">
  <section class="card-text">
    <div class="layout-row justify-content-around align-items-center">
      <h3 class="mt-0 mb-0">Login</h3>
    </div>
  </section>

  <section class="layout-row align-items-center justify-content-center" id="inputs-section">
    <form id="loginform" [formGroup]="loginForm">
      <div>
        <input class="white large outlined" type="text" placeholder="Email" formControlName="email" id="login__email">
        <div style="color: red;" id="login__email-error">
          <span
            *ngIf="loginForm.controls['email'].errors !== null && loginForm.controls['email'].errors.requiredEmailFormat">
            Must be a valid email format
          </span>
          <span
            *ngIf="(loginForm.controls['email'].errors !== null && loginForm.controls['email'].errors.required) && (loginForm.controls['email'].errors && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched))">
            * Email is required
          </span>
        </div>
      </div>
      <div class="mt-10">
        <input class="white large outlined" type="password" required="" placeholder="Password" id="login__password"
          formControlName="password" name="password" minlength="8">
        <div style="color: red;" id="login__password-error">
          <span
            *ngIf="(loginForm.controls['password'].errors !== null && loginForm.controls['password'].errors.required) && (loginForm.controls['password'].errors && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched))">
            * Password is required
          </span>
          <span
            *ngIf="(loginForm.controls['password'].errors !== null && loginForm.controls['password'].errors.minlength) && (loginForm.controls['password'].errors && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched))">
            * The minimun of characters are {{this.loginForm.controls['password'].errors.minlength.requiredLength}}
          </span>
          <br>
          <span
            *ngIf="(loginForm.controls['password'].errors !== null && loginForm.controls['password'].errors.minlength) && (loginForm.controls['password'].errors && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched))">
            current number of characters: {{this.loginForm.controls['password'].errors.minlength.actualLength}}
          </span>
        </div>
      </div>
      <div>
        <span *ngIf="loginError" style="color: red; font-weight: bold;">
          {{loginErrorMessage}}
        </span>
      </div>
    </form>
  </section>
  <section class="layout-row align-items-center justify-content-center card-actions">
    <button class="secondary flat" (click)="LogIn()" id="login__btn">
      LogIn
    </button>
  </section>
</div>